{% extends 'base.html' %}

{% block title %}RPi TV Noticeboard{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
			  <h1>Welcome to the RPi TV Noticeboard project</h1>
			</div>
			<p>This website serves as a portal for the an RPi TV Noticeboard to fetch images from.</p>
			<h3>What's it?</h3>
			<p>An RPi TV Noticeboard is a simple setup consisting of an RPi connected to a TV with HDMI. The RPi runs a script that periodically fetches images from the server.</p>
			<h3>Add photos</h3>
			<p>To add photos, login into the portal <a href="/admin">here</a>.</p>
			<h3>View photos</h3>
			<p>To have a look at the genre-wise images uploaded currently, go <a href="{% url 'photologue:gallery-list' %}">here</a>.</p>
			<p>To get the generic list of photos from all public galleries, go <a href="{% url 'list' %}">here</a>.</p>
			<h3>Code</h3>
			<p>The code for the project can be found <a href="https://github.com/nihal111/RPi-Noticeboard/">here on Github</a>.</p>
		</div>
	</div>
{% endblock %}
